<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Shoe World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>The Shoe World</h1>
    <div class="container-fluid">
        {{#if added}}
        <div class="alert alert-danger">
            Item {{productName}} added in your cart.
        </div>
        {{/if}}
        {{#each product}}
        <div class="row">
            <div class="col">
                <h3>{{this.name}}</h3>
                <ul class="product">
                    <li>Price: {{this.price}}</li>
                    <li>Quantity: {{this.quantity}}</li>
                    <li>Dealer: {{this.dealer}}</li>
                    <li>Category: {{this.category}}</li>
                    <li>
                        <form action="/user/addCart/{{this._id}}" method="GET">
                            <p></p>
                            <button class="btn btn-info" type="submit">Add to cart</button>
                        </form>                         
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</body>